/.coverage
/build/MangaManager/Analysis-00.toc
/build/MangaManager/base_library.zip
/build/MangaManager/EXE-00.toc
/build/MangaManager/MangaManager.exe.manifest
/build/MangaManager/MangaManager.pkg
/build/MangaManager/PKG-00.toc
/build/MangaManager/PYZ-00.pyz
/build/MangaManager/PYZ-00.toc
/build/MangaManager/Tree-00.toc
/build/MangaManager/Tree-01.toc
/build/MangaManager/Tree-02.toc
/build/MangaManager/warn-MangaManager.txt
/build/MangaManager/xref-MangaManager.html
/dist/MangaManager.exe
/MangaManager.spec
/config.ini
/src/src/MangaManager_ThePromidius/logs/MangaManager.log
/src/src/MangaManager_ThePromidius/config.ini
/Manga Manager.spec
/build/__main__/__main__.exe.manifest
/build/__main__/__main__.pkg
/build/__main__/Analysis-00.toc
/build/__main__/base_library.zip
/build/__main__/EXE-00.toc
/build/__main__/PKG-00.toc
/build/__main__/PYZ-00.pyz
/build/__main__/PYZ-00.toc
/build/__main__/Tree-00.toc
/build/__main__/Tree-01.toc
/build/__main__/Tree-02.toc
/build/__main__/warn-__main__.txt
/build/__main__/xref-__main__.html
/build/Manga Manager/Analysis-00.toc
/build/Manga Manager/base_library.zip
/build/Manga Manager/EXE-00.toc
/build/Manga Manager/Manga Manager.exe.manifest
/build/Manga Manager/Manga Manager.pkg
/build/Manga Manager/PKG-00.toc
/build/Manga Manager/PYZ-00.pyz
/build/Manga Manager/PYZ-00.toc
/build/Manga Manager/Tree-00.toc
/build/Manga Manager/Tree-01.toc
/build/Manga Manager/Tree-02.toc
/build/Manga Manager/warn-Manga Manager.txt
/build/Manga Manager/xref-Manga Manager.html
/dist/Manga Manager.exe
