__pycache__/zipfile.cpython-310.pyc
__pycache__/collapsiblepane.cpython-310.pyc
undo.json
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/ASCRIPT_MANGA_ZIPPER.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/ZIPPER_2_COVER_SETTER_UI.ui
/junk_stuff/
/MangaManager/src/CoverManagerLib/.pytest_cache/
/MangaManager/src/MetadataManagerLib/.pytest_cache/
/MangaManager/tests/.pytest_cache/
/MangaManager/tests/Sample CBZ Chapter 23.cbz
/MangaManager/tests/Sample CBZ Chapter 24.cbz
/.pytest_cache/
/MangaManager/logs/MangaManager.log
/releases
/testing/
.pytest_cache
*.log*
/.idea/webResources.xml
/MangaManager/settings.json
