[Desktop Entry]
Version=1.0
Type=Application
Name=Manga Manager
Comment=
# Exec=python /app/main.py
Exec=/config/Desktop/MangaManager_23_02_02_Beta_linux_01
Icon=
Path=/app
Terminal=false
StartupNotify=false