[Desktop Entry]
Version=1.0
Type=Application
Name=Manga Manager
Comment=
Exec=python3.11 /app/main.py
Icon=
Path=/app
Terminal=false
StartupNotify=false